.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $white-color;
  }
  
  .card {
    // padding:0%;
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 40%;
    background-color: $off-white-color;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex: 1;
    width: 50%;
    padding: 20px;
    h2{
        font-size: 1.7rem;
        text-align: center;
        color: white;
        text-transform: uppercase;

        background: linear-gradient(
          to right,
          rgba(161, 140, 209, 1),
          rgba(251, 194, 235, 1)
        ) !important;

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        text-shadow: 2px 2px 0.2px #000000;
    }
    button {
        background-color: plum;
        padding: 1rem 2rem;
        color: white;
        border-radius: 0.4rem;
        border: 1px solid black;
        font-weight: bold;
        // font-size: rem;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: linear-gradient(
            to right,
            rgba(161, 140, 209, 1),
            rgba(251, 194, 235, 1)
          );
          background-clip: text;
          text-shadow: 2px 2px 0.2px plum;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background: black;
        }
      }
  }
  
  .divider {
    width: 2px;
    background-color: #ccc;
  }
  .home-heading{
    
        font-size: 3.5rem;
        text-align: center;
        color: white;
        text-transform: uppercase;

        background: linear-gradient(
          to right,
          rgba(161, 140, 209, 1),
          rgba(251, 194, 235, 1)
        ) !important;

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        text-shadow: 2px 2px 0.2px #000000;
    
  }
  