.form-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: $white-color;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.4rem;
      padding: 3rem 7rem;
    //   background-color: cyan;
    background-color: $off-white-color;
        
      border-radius: 2rem;
      box-shadow: 9px 9px plum;
      .brand {
        // display: flex;
        // background-color: black;
        align-items: center;
        justify-items: center;
        // gap: 0.1rem;
        h1 {
          font-size: 3rem;
          text-align: center;
          color: $white-color;
          text-transform: uppercase;
  
          background: linear-gradient(
            to right,
            rgba(161, 140, 209, 1),
            rgba(251, 194, 235, 1)
          ) !important;
  
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
          text-shadow: 2px 2px 0.2px #000000;
        }
      }
      input {
        background: white;
        padding: 1rem;
        border: none;
        border: 0.1rem solid black;
        border-radius: 0.4rem;
        width: 100%;
        color: black;
        font-size: medium;
        font-weight: 700;
        transition: 0.3s ease-in-out;
        &:focus {
          border: 0.2rem solid plum;
          outline: none;
          color: black;
          background-color: whitesmoke;
          box-shadow: none;
        }
        box-shadow: 4px 4px plum;
      }
      button {
        background-color: plum;
        padding: 1rem 2rem;
        color: white;
        border-radius: 0.4rem;
        border: 1px solid black;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: linear-gradient(
            to right,
            rgba(161, 140, 209, 1),
            rgba(251, 194, 235, 1)
          );
          background-clip: text;
          text-shadow: 2px 2px 0.2px plum;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background: black;
        }
      }
  
      span {
        color: $dark-color;
        text-transform: uppercase;
        a {
          color: #000000;
          text-decoration: none;
          font-weight: bold;
          transition: 0.3s ease-in-out;
          &:hover {
            color: plum;
          }
        }
      }
    }
  }
  .auth-container{
    display: flex;
    flex-direction: column;
  }